.bar-graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hover-data {
  font-style: italic;
  color: red;
}

.bar-graph-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
