a.ui.card.test {
  height: 15em;
  width: 13em;
  color: black;
}

div.ui.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button.button {
  margin-left: 50%;
  width: 6em;
  height: 2em;
}
